* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px ;
}

:root {
  --bg-dk-neutral: hsl(243, 96%, 9%);
  --bg-dk-II: hsl(243, 27%, 20%);
  --bg-dk-III: hsl(243, 23%, 24%);
  --bg-trans-lilac: hsl(243, 23%, 30%);
  --dk-gray: hsl(240, 6%, 70%);
  --lg-gray: hsl(250, 6%, 84%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(28, 100%, 52%);
  --lg-blue: hsl(233, 67%, 56%);
  --dk-blue: hsl(248, 70%, 36%);
  --lg-fsz: calc(2rem + 2vw);
}

@font-face {
  font-family: "funky";
  src: url("./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-Variablefont.ttf");
}

body {
  background-color: var(--bg-dk-neutral);
  color: var(--white);
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
}

.select-box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  border-radius: 8px;
  background-color: var(--bg-dk-III);
}

section > h1 {
  margin: 3rem 0;
  font-family: funky, Sans-Serif;
  text-align: center;
  font-size: var(--lg-fsz);
}

.search-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.search-input, #search_btn {
  width: 100%;
  height: 3rem;
  border-radius: 8px;
}

.search-input {
    display: flex;
    align-items: center;
    position: relative;
}

.search-input>svg {
  position: absolute;
  left: 1rem;
}

#city_name {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  padding-left: 3rem;
  padding-right: 1rem;
  background-color: var(--bg-dk-III);
}

#search_btn {
  background-color: var(--lg-blue);
  color: var(--white);
}

.weather-forecast {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border: 1px solid;
}

.daily {
  flex: 2;
}

.image-data {
  position: relative;
  display: flex;
  justify-content: center;
}

.image-data > div {
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 2;
  width: 100%;
}

.image-data > img {
  width: 100%;
}

.present-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.present-data > div {
  padding: 1rem;
  min-height: 6rem;
  border: 1px solid var(--bg-trans-lilac);
  border-radius: 10px;
  background-color: var(--bg-dk-III);
}

.daily-forecast {
  margin-top: 1.5rem;
}

.daily-value {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.daily-value > div {
  min-height: 10rem;
  border: 1px solid var(--bg-trans-lilac);
  border-radius: 10px;
  background-color: var(--bg-dk-III);
}

.hourly {
  padding: 1.5rem 1rem;
  background-color: var(--bg-dk-II);
  border-radius: 1rem;
  flex: 1;
}

.top-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.select-box:last-of-type {
  padding: 8px;
}

.eight-days-data {
  height: calc(100% - 70px);
  display: grid;
  grid-template-rows: (auto-fit, minmax(70px, 1rem));
  gap: 1rem;
}

.eight-days-data > div {
  min-height: 70px;
  width: 100%;
  border: 1px solid var(--bg-trans-lilac);
  border-radius: 10px;
  background-color: var(--bg-dk-III);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}