* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px ;
}

:root {
  --bg-dk-neutral: hsl(243, 96%, 9%);
  --bg-dk-II: hsl(243, 27%, 20%);
  --bg-dk-III: hsl(243, 23%, 24%);
  --bg-trans-lilac: hsl(243, 23%, 30%);
  --dk-gray: hsl(240, 6%, 70%);
  --lg-gray: hsl(250, 6%, 84%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(28, 100%, 52%);
  --lg-blue: hsl(233, 67%, 56%);
  --dk-blue: hsl(248, 70%, 36%);
  --lg-fsz: calc(2rem + 2vw);
  --lg-insane-fsz: calc(2vw + 70px);
}

@font-face {
  font-family: "funky";
  src: url("./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-Variablefont.ttf");
}

body {
  background-color: var(--bg-dk-neutral);
  color: var(--white);
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
}

.select-box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  border-radius: 8px;
  background-color: var(--bg-dk-III);
}

.conversion-dropdown {
  position: absolute;
  right: 1rem;
  top: 64px;
  z-index: 2;
  background-color: var(--bg-dk-II);
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 0;
  overflow: hidden;
  padding: 0;
  width: 15rem;
  transition: height 0.5s ease, padding 0.3s ease;
  border-radius: 1rem;
}

.drop {
  height: 422px;
  border: 1px solid var(--bg-trans-lilac);
  overflow: auto;
  padding: 5px 8px;
}

.switch, .scalar-tags, .conversion-dropdown > div {
  padding: 8px;
}

.scalar-tags {
  font-size: 0.8rem;
  color: var(--dk-gray);
}

.scalar-tags:not(.first) {
  border-top: 1px solid var(--dk-gray);
}

.switch, .unit {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
}

.switch:hover {
  background-color: var(--bg-trans-lilac);
}

.selected-unit {
  background-color: var(--bg-trans-lilac);
}

.unit {
  display: flex;
  justify-content: space-between;
}

section > h1 {
  margin: 3rem 0;
  font-family: funky, Sans-Serif;
  text-align: center;
  font-size: var(--lg-fsz);
}

.search-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.search-input, #search_btn {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
}

.search-input {
    display: flex;
    align-items: center;
    position: relative;
}

.search-input>svg {
  position: absolute;
  left: 1rem;
}

#city_name {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  padding-left: 3rem;
  padding-right: 1rem;
  background-color: var(--bg-dk-III);
}

#search_btn {
  background-color: var(--lg-blue);
  color: var(--white);
}

.weather-forecast {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.daily {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-data {
  width: 100%;
  min-height: 286px;
  background-image: url('./assets/images/bg-today-small.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 1.5rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.name-and-date {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.icon-and-temp {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  gap: 3rem;
  align-self: flex-end;
}

.today-icon {
  max-width: 100px;
  object-fit: cover;
}

.max-temp {
  font-family: funky, Sans-Serif;
  font-size: var(--lg-insane-fsz);
  font-style: italic;
}

.present-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.present-data > div {
  padding: 1rem;
  min-height: 6rem;
  border: 1px solid var(--bg-trans-lilac);
  border-radius: 10px;
  background-color: var(--bg-dk-III);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.daily-forecast {
  margin-top: 1.5rem;
}

.daily-value {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.daily-value > div {
  min-height: 9rem;
  border: 1px solid var(--bg-trans-lilac);
  border-radius: 10px;
  background-color: var(--bg-dk-III);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8rem 0.5rem;
}

.day-and-icon {
  min-height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.week-days-icon {
  max-width: 100px;
}

.min-and-max-temp {
  display: flex;
  justify-content: space-between;
}

.hourly {
  padding: 1.5rem 1rem;
  background-color: var(--bg-dk-II);
  border-radius: 1rem;
  flex: 1;
}

.top-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.select-box:last-of-type {
  padding: 8px;
}

.eight-hrs-data {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
  gap: 1rem;
  height: calc(100% - 70px);
}

.eight-hrs-data > div {
  min-height: 60px;
  width: 100%;
  border: 1px solid var(--bg-trans-lilac);
  border-radius: 10px;
  background-color: var(--bg-dk-III);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 0.5rem;
}

.icon-and-time {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.hour-icon {
  max-width: 50px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
  .search-area {
    justify-content: center;
  }
  
  .search-input {
    width: 50%;
  }
  
  #search_btn {
    width: 15%;
  }
}